# Tabular Data Science project
**Team:** Amebet Belachew, Eva Hallermeier

**Problem:** Today it s hard to get a nice histogram because user don t know which parameter to choose to visualize his histogram. In fact, number of bins of the histogram is a critical parameter that need to be considered. Currently, the number of bins is either determined by default or left up to the user to choose, but there is no guarantee that the user will make the optimal selection. This can lead to histograms that are either too noisy or too simplistic to accurately represent the data.
So we can see here that there is a problem by deciding on parameters of visualization in distribution of data.

**Goal of the project**: We aimed to develop and validate for automatically selecting the number of bins (bins size) in histograms of each feature in a given dataset.

## imports

In [1]:
#data processing
import pandas as pd
import matplotlib.pyplot as plt

# First research on dataset : Mobile price 
https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification

First step loading dataset

In [2]:
dtf = pd.read_csv("./data/mobile_price/train.csv")
dtf.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
dtf.dtypes

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

Here all features are numerical

In [ ]:
nb_cols = len(df.axes[1])

In [5]:
# fig, axes = plt.subplots(11, 2, figsize=(10,2.5), dpi=100, sharex=True, sharey=True)

# for i, (ax, cut) in enumerate(zip(axes.flatten(), dtf.cut.unique())):
#     x = dtf.loc[dtf.cut==cut, 'depth']
#     ax.hist(x)

NameError: name 'plt' is not defined

In [ ]:
# #we will create a histogram for each numerical column
# n=nb_cols
# rows=(n//3) + 1 if n%3 !=0 else n//3

# #generate a figures grid:
# fig, axes = plt.subplots(rows,cols,figsize=(cols*5,rows*5))
# fig.subplots_adjust(hspace=0.5)

# #Fill the plots:
# for i, column in enumerate(very_numerical):
#     #calculate the current place on the grid
#     r=int(i/cols)
#     c=i%cols
    
#     # build the histograms
#     #dtf[column].hist(ax=axes[r,c],kde=True)
#     sns.distplot(dtf[column],ax=axes[r,c],kd